<h1>Welcome to the <a routerLink="">Jester Club</a>!</h1>
<div class="flexlayout">
  <div class="menuColumn">
    <p>Latest jokes</p>
    <p>Most popular jokes</p>
    <a
      *ngIf="currentUser"
      mat-flat-button
      color="accent"
      routerLink="/mydrafjokes"
    >
      My Draft Jokes
    </a>
    <a
      *ngIf="currentUser"
      mat-flat-button
      color="accent"
      routerLink="/myreleasedjokes"
    >
      My Released Jokes
    </a>
    <a
      *ngIf="currentUser"
      mat-flat-button
      color="accent"
      routerLink="/jokeupsert"
    >
      Add new joke
    </a>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
