<h1>Welcome to the <a routerLink="">Jester Club</a>!</h1>
<div class="flexlayout">
  <div class="menuColumn">
    <p>Latest jokes</p>
    <p>Most popular jokes</p>
    <p>
      <a
        *ngIf="currentUser"
        mat-stroked-button
        color="accent"
        routerLink="/mydraftjokes"
      >
        My Draft Jokes
      </a>
    </p>
    <p>
      <a
        *ngIf="currentUser"
        mat-stroked-button
        color="accent"
        routerLink="/myreleasedjokes"
      >
        My Released Jokes
      </a>
    </p>
    <p>
      <a
        *ngIf="currentUser"
        mat-stroked-button
        color="accent"
        routerLink="/jokeupsert/_"
      >
        Add new joke
      </a>
    </p>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
