<div *ngIf="joke" class="jokecard">
  <div class="joketext">{{ joke.Text }}</div>
  <p class="jokeauthor">posted by: {{ joke.UserName }}</p>
  <div>
    <span *ngFor="let emotionCounter of joke.EmotionCounters">
      <a
        class="emoji"
        [innerHTML]="getEmojiForEmotion(emotionCounter.Emotion)"
        (click)="incrementEmotionCounter(emotionCounter.Emotion)"
      >
      </a>
      {{ emotionCounter.Counter }}
    </span>
    <svg
      class="jokestats"
      [attr.width]="(barChartColumnWidth + barChartSpacing) * 7"
      [attr.height]="barChartHeight"
    >
      <rect
        *ngFor="let responseStatistic of joke.ResponseStatistics; index as i"
        style="fill: rgb(0, 0, 255)"
        [attr.width]="barChartColumnWidth"
        [attr.height]="
          getResponsePercentage(responseStatistic) * barChartHeight
        "
        [attr.x]="i * (barChartColumnWidth + barChartSpacing)"
        [attr.y]="
          barChartHeight -
          getResponsePercentage(responseStatistic) * barChartHeight
        "
      />
    </svg>
  </div>
</div>
