.jokecard {
  border: 1px solid black;
  width: 400px;
  margin-bottom: 10px;
}

.joketext {
  padding: 10px;
}

.jokeauthor {
  text-align: right;
  font-style: italic;
  font-size: smaller;
  margin: 2px;
}

.jokestats {
  float: right;
}
